@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@using QuestionsAndAnswers.Services
@inject UserService userService

<header class="border-bottom fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-body">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
                    <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207" />
                    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Questions" asp-action="Index">@Localizer["Questions"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Tags" asp-action="Index">@Localizer["Tags"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Questions" asp-action="Create">@Localizer["Ask"]</a>
                    </li>
                </ul>
                <form asp-controller="Questions" asp-action="Index" method="get" class="d-flex me-2" role="search">
                    <input name="title" value="@ViewData["SearchString"]" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div class="d-flex mt-lg-0 mt-2 me-2">
                    @if (signInManager.IsSignedIn(User))
                    {
                        var avatar = "user.png";
                        {                            
                            string? username = User?.Identity?.Name;
                            if (username != null)
                            {
                                var path = await userService.SelectImagePathByUserNameAsync(username);
                                if (path != null)
                                {
                                    avatar = path;
                                }
                            }                         
                        }
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/@avatar" alt="mdo" width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" style="">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a id="LoginButton" asp-area="" asp-controller="Home" asp-action="Login" role="button" class="btn btn-info me-2">@Localizer["Login"]</a>
                        <a type="button" asp-area="" asp-controller="Home" asp-action="SignUp" class="btn btn-warning">@Localizer["Sign-up"]</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>
