@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model QuestionsAndAnswers.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="vh-80 d-flex align-items-center">
    <div class="form-signin w-100 m-auto vw-100 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle my-5" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
        <h1 class="h3 mb-3 fw-normal">@Localizer["Welcome"]</h1>
        <form asp-action="Login" method="post">
            <div class="form-floating">
                <input type="text" asp-for="UserName" class="form-control" id="userName">
                <label for="userName">@Localizer["User"]</label>
            </div>
            <div class="form-floating">
                <input type="password" asp-for="Password" class="form-control" id="password">
                <label for="password">@Localizer["Password"]</label>
            </div>
            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" asp-for="Remember" id="rememberCheck">
                <label class="form-check-label" for="rememberCheck">
                    @Localizer["Remember"]
                </label>
            </div>
            <button id="submit" type="submit" value="Login" class="btn btn-primary w-100 py-2">@Localizer["Sign"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_SharedJavascript");
    }        
    <script>
        var username = getCookieValue("username");
        if (username != null) {
            document.getElementById("userName").value = username;
            document.getElementById("rememberCheck").checked = true;
        }
    </script>
}
