@model IEnumerable<QuestionsAndAnswers.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<div class="m-auto default-page">
    <h3 class="text-sm-start text-center">Tags</h3>
    <p class="text-sm-start text-center">Facilitando a organização e a acessibilidade: Utilize Tags para classificar suas perguntas de forma eficiente e simplificar a busca por informações específicas!</p>
    <form asp-controller="Tags" asp-action="Index" method="get" role="search" class="row gx-2 justify-content-sm-start justify-content-center">
        <div class="col-auto">
            <input name="title" value="@ViewData["SearchString"]" class="form-control" type="search" placeholder="Filter" aria-label="Search" style="min-width:300px">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-md-3 mt-2">
        @foreach (var item in Model)
        {
            <div class="col mt-4">  
                <div class="card">
                    <div class="card-body">
                        <a asp-area="" asp-controller="Questions" asp-action="Tag" asp-route-id="@item.Name"><span class="badge mb-2" style="background-color: @item.Color; color: @item.InnerColor">@Html.DisplayFor(modelItem => item.Name)</span></a>
                        <p class="card-text">@Html.Raw(item.DescriptionPT.Substring(0, 200) + "...")</p>
                        <p class="card-text"><small class="text-body-secondary">3453 questions</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-sm-end  justify-content-center mt-5">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item">
                @Html.ActionLink("1", "Index", "Tags", new { tag = ViewData["Tag"], page = 1 }, new { Class = "page-link active" })
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>